@import '../../theme/variables';

.UserList {
  color: $color-black;

  ul {
    padding-left: 17px;

    li {
      margin-bottom: 0.5em;
    }
  }

  a {
    color: $color-black;
  }
}
